# Build artifacts
build/
build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Generated/
sign.sh
build.sh

# IDE and user-specific files
.vscode/
*.user
CMakeUserPresets.json
**/.qmlls.ini
*.cache

# Keep separate databases
#*.db

# OS-specific files
.DS_Store
Thumbs.db

# Executables
*.exe
*.dll
*.app
*.so
